<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<tr th:insert="taskItem(${task})" th:each="task: ${tasks}" th:id="row-${task}">
    <td th:text="${task.id}"></td>
    <td th:text="${task.name}"></td>
    <td th:text="${task.description}"></td>
    <td><input th:type="textfield" th:disabled="true" th:value="${#temporals.format(task.creationDate, 'yyyy.MM.dd HH:mm')}"></td>
    <td><input th:type="textfield" th:disabled="true" th:value="${#temporals.format(task.modificationDate, 'yyyy.MM.dd HH:mm')}"></td>
    <td>
        <input type="checkbox" hx-post="/toggle/{id}" th:checked="${task.isDone}">
    </td>
    <td>
        <button class="btn btn-danger" th:attr="hx-delete='/api/tasks/' + ${task.id}">
            Delete
        </button>

        <!--            <button class="btn btn-danger" th:attr="hx-delete='/api/tasks/' + ${task.id}">-->
        <!--                Delete-->
        <!--            </button>-->
    </td>
</tr>
</html>